COMPOSE_PROJECT_NAME=personal-project-life_replay

NGROK_UI_PORT=4040
NGROK_LOCAL_HTTP_REGISTER_PORT=80
NGROK_AUTHTOKEN=???

TRAEFIK_DOMAIN=???
TRAEFIK_UI_PORT=9090

BE_ADMIN_SERVICE_PORT=8001

BE_NOTIFICATION_SERVICE_PORT=8002